.bar {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 30px;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row-reverse;
}

.toggle-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
