.balloon {
  position: relative;
  width: 100%;
  /* border-top: 1px solid var(--textNormal);
  background-color: var(--textNormal) 70%; */
  padding: 0 18px;
  border-bottom: 1px solid var(--textNormal);
}

.balloon::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: 50px;
  top: -9px;
  border-right: 9px solid transparent;
  border-bottom: 9px solid var(--textNormal);
  border-left: 9px solid transparent;
}

.balloon::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: 50px;
  top: -8px;
  border-right: 9px solid transparent;
  border-bottom: 9px solid var(--bg);
  border-left: 9px solid transparent;
}
